[submodule "callisto"]
	path = callisto
    url = git@github.com:Bazzagibbs/callisto.git
[submodule "importer/glslang"]
	path = importer/glslang
	url = git@github.com:Bazzagibbs/odin-glslang.git
[submodule "shader/spv-reflect"]
	path = shader/spv-reflect
	url = git@github.com:Bazzas-Forks/odin-spv-reflect.git
[submodule "shader/glsl-lang"]
	path = shader/glsl-lang
	url = git@github.com:Bazzas-Forks/Odin-glsl-lang.git
