# Build outputs
/out/
callisto-editor.exe
callisto-editor.pdb

# Editor-specific caches
/.vs/
/.idea/
*.sublime-*

# Odin Language Server configuration file
ols.json

# Debugger configuration files
*.rdbg
*.raddbgi
