[submodule "callisto"]
	path = callisto
    url = git@github.com:Bazzagibbs/callisto.git
[submodule "importer/glslang"]
	path = importer/glslang
	url = git@github.com:Bazzas-Forks/odin-glslang.git
[submodule "importer/spv-reflect"]
	path = importer/spv-reflect
	url = git@github.com:Bazzas-Forks/odin-spv-reflect.git
